* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f2f2f2;
  
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color:black;
}

nav ul li a:hover {
  background-color: blacks;
  color: #fff;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin: 20px 0;
}

section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

section p {
  line-height: 1.5;
  margin-bottom: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(25,12,41);
}
.slider {
  position: relative;
  width: 60%;
  overflow: hidden;
}
.images {
  display: flex;
  width: 100%;
}
.images img {
  height: 400px;
  width: 100%;
  transition: all 0.15s ease;
}
.images input {
  display: none;
}
.dots {
  display: flex;
  justify-content: center;
  margin: 5px;
}
.dots label {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: solid #fff 3px;
  cursor: pointer;
  transition: all 0.15s ease;
  margin: 5px;
}
.dots label:hover {background: #fff;}
#img1:checked ~ .m1 {
  margin-left: 0;
}
#img2:checked ~ .m2 {
  margin-left: -100%;
}
#img3:checked ~ .m3 {
  margin-left: -200%;
}
#img4:checked ~ .m4 {
  margin-left: -300%;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer p {
  font-size: 14px;
}

/* Responsive design */

@media screen and (max-width: 768px) {

  header {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    margin-top: 10px;
    display: none;
  }

  nav.active ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  nav.active ul li a {
    margin-bottom: 10px;
  }

  nav button {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    margin-top: 10px;
  }

  nav button:hover {
    cursor: pointer;
  }

  .gallery img {
    width: 40%;
  }

